.view_post_container{
    background-color: var(--postBG);
    margin-top: var(--viewMargin);
    padding-bottom: var(--viewMargin);
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.comment_body {
    margin: var(--viewMargin) var(--viewMargin) 0 0;
    padding-bottom: var(--viewMargin);
}

.comment_button_row {
    padding-bottom: var(--viewMargin);
}

.comment_item{
    list-style: none;
}

.comment_thread {
    border-left: 2px solid var(--logoMain);
}

.comment_section{
    margin-top: var(--viewMargin);
    color: var(--logoMain);
    border-right: 2px solid var(--logoMain);
    border-bottom: 2px solid var(--logoMain);

}

.comment_profile_pic {
    margin-top: var(--viewMargin);
    width: 30px;
}


.parent_comment {
    padding-left: var(--viewMargin);
    border-top: 1px solid var(--logoMain);
    border-left: 1px solid var(--logoMain);



}