#view_post_container{
    background-color: var(--postBG);
    margin-top: 1rem;
}

.comment_item{
    list-style: none;
}

.comment_thread {
    border-left: 2px solid var(--colorsecondary);
}

.comment_section{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;

}

.comment_profile_pic {
    width: 30px;
}

.children {
    margin-left: 1rem;
    padding-top: 1rem;
}

.parent_comment {
    padding-left: 1rem;
    border-top: 1px solid grey;
    border-left: 1px solid grey;



}