.basic_button {
    padding: 5px 7px;
    background-color: var(--siteBG3);
    color: var(--logoMain);
    border: 1px solid var(--logoMain);
    border-radius: 5px;
    outline: none;
}

.basic_button:hover {
    padding: 5px 7px;
    background-color: var(--siteBG2);
    opacity: 0.8;
}

.basic_button:focus {
    outline: none;
}

.basic_input {
    border-radius: 4px;
    padding-left: 8px;
    background-color: var(--siteBG2);
    color: var(--logoMain);
    height: 36px;
    border: 1px solid var(--logoMain);
}

.basic_input:focus {
    outline: none;
}

.comment_button{
    padding: 2px 2px 2px 10px;
    color: var(--siteBG);
    background-color: var(--logoMain);
}

.comment_button:hover {
    background-color: var(--logoMainShade);
    cursor: pointer;
}

.comment_count {
    margin: 0 1rem;
}

.like_count {
    margin: 0 1rem;
}

.like_button{
    padding: 2px 2px 2px 10px;
    background-color: var(--colorSecondary);
}

.like_button:hover{
    cursor: pointer;
    background-color: var(--colorSecondaryShade);
}

.toggle_button {
    height: 24px;
    width: 50px;
    background-color: gainsboro;
    cursor: pointer;
        border-radius: 6px;
}

.toggle_background {
    margin-top: 1rem;
    height: 28px;
    width: 76px;
    border-radius: 8px;
    border: 2px solid rgba(176, 176, 176, 1);
    background: linear-gradient(90deg, #fcc6c0 50%, #c0fcd7 50%);

}