#nav_icons {
    width: 60px;
}

#nav_view {
    width: 240px;
    height: 100%;
}

#nav_icons.hidden {
    padding-right: 2px;
}

.home_nav_text {
    font-size: 25px;
    line-height: 37px!important;
    font-family: 'Share Tech', sans-serif;
    color: var(--navTextColor);
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: var(--viewMargin);
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: auto;


}

.home_nav_text.hovered {
    background-color: var(--siteBG4);
    cursor: pointer;
}

.home_nav_link {
    text-decoration: none!important;
    color: var(--navTextColor);

}

.home_nav_link:hover {
    text-decoration: none!important;
    color: var(--navTextColor);
    cursor: pointer;
}

.home_nav_text.active{
    background-color: var(--siteBG3);
    min-width: 52px;
}

.logo_icon {
    height: 52px;
}

.nav_item.active{
    background-color: var(--siteBG3);
    min-width: 52px;
}

.nav_item{
    padding: 4px 6px 4px 4px;
    margin-top: 8px;
    margin-left: 4px;
    margin-bottom: 0;
    margin-right: 0;
    text-decoration: none!important;
    min-width: 90%;
}

.nav_item.active:hover{
    background-color: var(--navActive);
    cursor: pointer;
    text-decoration: none;
}

.nav_item_text {
    font-size: 24px;
    font-family: 'Share Tech', sans-serif;
    color: var(--navTextColor);
    margin-left: 12px;
}



.nav_icon {
    height: 46px;
    width: 46px;
    min-height: 46px;
    min-width: 46px;
}

.nav_item.hovered{
    background-color: var(--siteBG4);
    cursor: pointer;
    text-decoration: none;
    min-width: 52px;

}

.nav_logo {
    margin-left: 12px;
}

.nav_logo_text {
    font-size: 28px;
    font-family: 'Share Tech', sans-serif;
    color: var(--logoMain);
    position: relative;
    top: 6px;
    margin-left: var(--viewMargin);
}

a.nav_logo:hover {
    text-decoration: none!important;
}

.nav_logo_text:hover {
    text-decoration: none!important;
}

.side_nav{
    min-width: 100%;
    height: calc(100%);
    text-decoration: none;
}

.sub_item {
    margin-left: 1rem;
}



