.textarea_cont {
    outline: none;
    border: 1px solid var(--siteBG);
    width: 100%;
    height: 100%;
    float: left;

}

.area_div{
    border-top: 1rem solid var(--siteBG2);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;


}

.basic_input {
    border-radius: 4px;
    padding-left: 10px;
    background-color: var(--siteBG2);
    color: var(--logoMain);
    height: 36px;
    border: 1px solid var(--logoMain);
}

.basic_input:focus {
    outline: none;
    border: 1px solid var(--logoMainShade);
}

.textarea_div {
    width: 70%;
    height: 100%;
    float: left;
}

