:root{
    --colorprimary: black;
    --colorSecondary: #225378;
    --colorSecondaryShade: #1c4563;
    --colorThird: #7D82B8;
    --colorFourth: #002642;
    --buttonColor: rgb(200, 232, 249);
    --textAreaColor: rgb(200, 232, 253);
    --postBG: #393939;
    --navTextColor: #AC7BC2;
    --siteBG: #161616;
    --siteBG2: #272727;
    --siteBG3: #393939;
    --logoMain: #AC7BC2;
    --logoMainShade: #b36000;
    --logoSecondary: #E0AB79;
    --logoSecondaryS1: #1c4563;
    --logoSecondaryS-1: #337cb3;
    --logoThird: #86D889;
    --colorFocus: #b36000;
    --navActive: #021629;
    --viewMargin: 10px;
}

#root {
    height: 100%;
}

#main_container{
    max-width: 1600px;
    min-width: 568px;
    margin-right: var(--viewMargin);
    margin-left: var(--viewMargin);
    padding: 0;
    width: calc(100% - var(--viewMargin)* 2);
    height: calc(100% - calc(70px + var(--viewMargin) * 2));
}

#main_page
{
    max-width: 1600px;
    min-width: 100%;
    width: calc(100% - var(--viewMargin));
    height: 100%;
    overflow: auto;
    margin: 0 0;
}

#main_page_header {
    margin: 0;
    width: calc(100%);
}

@media (max-width: 765px) {
    #main_view {
        width: calc(100% - 320px)!important;

    }
}

#main_view {
    width: calc(100% - 300px - var(--viewMargin));
    background-color: var(--siteBG2);
    margin-left: var(--viewMargin);
    overflow: auto;

    height: 100%;

}



#header_logout{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    margin-top: 18px;
    margin-right: var(--viewMargin);
}

#header_nav_title{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    margin-top: 18px;
    margin-left: var(--viewMargin);

}

#nav_col {
    max-width: 300px;
    height: 100%;
    background-color: var(--siteBG2);
}

.avatar_sm {
    height: 20px;
}

.avatar_md {
    height: 30px;
}

.avatar_lg {
    height: 50px;
}

.header_nav{
    height: 70px;
    width: 100%;
    background-color: var(--siteBG2);
    margin: var(--viewMargin) 0;

}

.logo_section {
    margin-top: 9px;
    width: 300px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
    min-height: 100%;
    height: 100%;
    background-color: var(--siteBG);
}

html {
    height: 100%;

}