:root{
    --colorprimary: black;
    --colorsecondary: pink;
    --buttonColor: lightblue;
    --textAreaColor: lightblue;
    --postBG: gainsboro;
    --navTextColor: rgb(50, 158, 221);
}

#main_container{
    max-width: 1000px;
    min-width: 568px;
    height: 100%;
}

#main_page
{
    padding-right: 1rem;
}

#header_logout{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    margin-top: 1rem;
}

#header_nav_title{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    margin-right: 4rem;
    cursor: pointer;
    margin-top: 1rem;
}

.header_nav{
    height: 60px;
    border-bottom: 2px solid gainsboro;
    margin: 2px 0;

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
    min-height: 100%;
    background-color: #ffffff;
}

html {
    overflow-y: scroll;
}