:root{
    --colorprimary: black;
    --colorSecondary: #225378;
    --colorSecondaryShade: #1c4563;
    --colorThird: #7D82B8;
    --colorFourth: #002642;
    --buttonColor: rgb(200, 232, 249);
    --textAreaColor: rgb(200, 232, 253);
    --postBG: #c3dcee;
    --navTextColor: #eb7f00;
    --siteBG: #FDFFFC;
    --logoMain: #eb7f00;
    --logoMainShade: #b36000;
    --logoSecondary: #225378;
    --logoSecondaryS1: #1c4563;
    --logoSecondaryS-1: #337cb3;
}

#main_container{
    max-width: 1600px;
    min-width: 568px;
    height: 100%;
}

#main_page
{
    max-width: 1600px;
    min-width: 100%;
    width: 100%;
    margin: 0 0;
}

@media (max-width: 765px) {
    #main_view {
        width: calc(100% - 100px)!important;

    }
}

#main_view {
    width: calc(100% - 185px);

    margin-left: 15px;
}



#header_logout{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
}

#header_nav_title{
    font-size: 20px;
    color: var(--navTextColor);
    font-family: 'Share Tech', sans-serif;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
}

#nav_col {
    min-width: 60px;
    max-width: 185px;
}

.avatar_sm {
    height: 20px;
}

.avatar_md {
    height: 30px;
}

.avatar_lg {
    height: 50px;
}

.header_nav{
    height: 60px;
    border-bottom: 2px solid var(--logoSecondary);
    margin: 2px 0;

}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
    min-height: 100%;
    background-color: var(--siteBG);
}

html {
    overflow-y: scroll;
}