
#popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}

#popup_cont {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 45%;
    color: var(--logoMain);
    border: 5px solid var(--siteBG2);
    border-radius: 2px;
    margin: auto;
    background: var(--siteBG3);
    overflow: auto;
    z-index: 2!important;
}

#feed_container {
    width: 100%;
    margin: 0;
}

#feed {
    width: 100%;
}

.feed_item{
    margin-bottom: var(--viewMargin);
    margin-right: var(--viewMargin);
    margin-left: var(--viewMargin);
    max-width: 100%;
    background-color: var(--postBG);
}

.feed_title{
    color: var(--logoMain);
    padding: 0.4rem;
}

.post_author{
    font-size: 18px;
    margin-top: 2px;
    margin-left: 1rem;
    color: var(--logoMain);
}

.post_content{
    padding: 0.4rem;
    color: var(--logoMain);
    border-bottom: 4px solid var(--logoMain);
}

.post_date{
    font-size: 14px;
    margin-top: 6px;
    margin-left: 1rem;
    color: var(--logoMain);
}

.post_title {
    color: var(--logoMain);

    font-size: 20px;
}

