.message_feed {
    background-color: rgba(0,0,0, 0.1);
    height: 70vh;
    margin-top: 10px;
    padding: 20px;
    overflow-y: auto;
}

.message_img {
    height: 30px;
    margin-right: 5px;
    border-radius: 4px;
}

.message_image_div {
    max-width: 20%;
}

.message_content_div {
    max-width: 80%;
}

.message_row {
    margin: 0;
}

.received {
    background-color: var(--navTextColor);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45%;
    padding: 5px;

    margin-top: 10px;

}

.sent {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 55%;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--colorSecondaryShade);
}