.message_feed {
    background-color: rgba(0,0,0, 0.1);
    height: 70vh;
    margin-top: 10px;
    padding: 20px;
}

.received {
    background-color: var(--navTextColor);
    width: 40%;
    padding: 5px;

    margin-top: 10px;

}

.sent {
    margin-left: 60%;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--colorSecondaryShade);
}