#chat_input {
    margin-top: 15px;
    height: 6vh;

    min-height: 20px;
    width: 100%;
}

#send_button {
    font-size: 18px;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: var(--logoSecondary);
    color: var(--logoMain);
}

#send_button:hover{

    background-color: var(--logoSecondaryS1);
    color: var(--logoMain);
}

.add_thread_input {
    margin-left: 15px;
}

.add_user_result {
    background-color: lightgreen;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    position: relative;
    left: 4px;
    top: 2px;
    height: 26px;
    border-radius: 4px;
    width: inherit !important;

}

.connected_active_dot {
    background-color: lightgreen;
    height: 8px;
    width: 8px;
    position: relative;
    bottom: 6px;
    left: 24px;
    border-radius: 4px;
}

.connected_inactive_dot {
    background-color: gray;
    height: 8px;
    width: 8px;
    position: relative;
    bottom: 6px;
    left: 24px;
    border-radius: 4px;
}

.message_content {
    margin-top: 5px;
}

.message_feed {
    background-color: rgba(0,0,0, 0.1);
    height: 70vh;
    margin-top: 1px;
    padding: 20px;
    overflow-y: auto;
}

.message_thread_item {
    margin-top: 1rem;
    margin-left: 15px;
    width: 85%;
    padding: 5px;
    background-color: var(--colorSecondary);
    cursor: pointer;
}

.message_friend_item:hover {
    background-color: var(--colorSecondaryShade);
}

.message_thread_list {
    width: 90%;
    margin-left: 2px;
    border-left: 2px solid var(--colorSecondary);
    border-right: 2px solid var(--colorSecondary);
}

.message_img {
    height: 30px;
    margin-right: 5px;
    border-radius: 4px;
}

.message_image_div {
    max-width: 20%;
}

.message_info {
    font-size: 14px;
}

.message_info_time {
    margin-right: 5px;
    margin-left: auto;
}

.message_row {
    margin: 0;
}

.received {
    background-color: var(--logoSecondary);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45%;
    padding: 5px;
    color: var(--logoMain);
    font-size: 16px;
    margin-top: 10px;

}

.sent {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 55%;
    padding: 5px;
    margin-top: 10px;
    color: var(--logoSecondary);
    font-size: 16px;
    background-color: var(--logoMain);
}