#profile_page{
    margin-top: 2rem;
    position: center;
}

.profile_profile_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
    position: absolute;
    top: 200px;
    border-style: solid;
    border-color: white;
}

.BackgroundPic{
    height: 250px;
    width: 100%;
    
}

.stats {
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
    margin-top: 100px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}
