.profile_pic {
    height: 50px;
    width: 50px;
}

.search_box {
    border-left: var(--viewMargin) solid var(--siteBG);
    height: 100%;
}

.search_input {
    width: calc(100% - var(--viewMargin) * 2);
    padding-left: 10px;
    background-color: var(--siteBG2);
    margin: var(--viewMargin);
    border:1px solid var(--logoMain);
    border-radius: 6px;
    color: var(--logoMain);
    height: 36px;
}



.search_input:focus {
    outline: none;
}

.search_results {
    margin: 0 6px;
}