#project_container {
    color: white;
    width: calc(100% - var(--viewMargin) * 2);
    height: 100%;
    border: 1px solid var(--logoMain);
    margin: 0 var(--viewMargin);
    padding: var(--viewMargin) 0;
    background-color: var(--siteBG3);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.project_dashboard {
    border-top: 1px solid var(--logoMain);
    height: 60%;

}

.project_dashboard_nav {
    width: 100%;
    border-bottom: 1px solid var(--logoMain);
}

.dashboard_nav_board {
    width: 50%;
}

.dashboard_nav_chat {
    width: 50%;
    border-left: 1px solid var(--logoMain);
}