.board {
    display: flex;
    min-height: 15px;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
}

.board_item {
    display: flex;
    width: 100%;
}

.task_title {
    white-space: inherit;
    text-overflow: inherit;
    overflow: inherit;
    width: auto;
}

.task {
    background-color: white;
    margin: 2px;
    max-height: 24px;
    transition: max-height 800ms ease-out;
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    cursor: auto;
}

.task:hover {
    max-height: 500px;
    transition: max-height 800ms ease-in;
    white-space: normal;
}

.column {

    height: 100%;
    background-color: blue;
    margin: 0;
    padding: 0 3px;
    width: calc(20% - 6px);
    color: white;
}

.dragging {
    opacity: 0.4;
    background-color: white;
    color: white;
}

.spacer {
    height: 0px;
    opacity: 1;
    background-color: green;
    cursor: default;
}

.spacer.empty_spacer {
    min-height: 20px;
    background-color: blue;
}