.board {
    display: flex;
    min-height: 15px;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

.board_item {
    display: flex;
    width: 100%;
}

.task {
    background-color: white;
    margin: 2px;
    color: black;
    cursor: pointer;
}

.column {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: blue;
    width: 205px;
    color: white;
}

.dragging {
    opacity: 0.4;
    background-color: white;
    color: white;
}

.spacer {
    min-height: 20px;
    opacity: 1;
    background-color: green;
    cursor: default;
}